<h1>New Image</h1>
<%= form_for [@album, @image], html: { multipart: true } do |f| %>

    
    
<%= f.label :file %>
<%= f.file_field :file %>

<%= f.label :caption %>
<%= f.text_field :caption %>


<%= f.submit 'Upload Image' %>
<% end %>

<%= link_to 'Back to album', @album %>